.page {
    position: absolute;
	top: 120px;
	bottom: 50px;
	width: 100%;
	max-width: 500px;
    padding: 0 20px;
	left: 50%;
	transform: translate(-50%, 0);
    background-color: #e7e5e5;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

.titleWrap {
    margin-top: 87px;
    font-size: 26px;
	font-weight: bold;
	color: #262626;
}


.contentWrap {
    margin-top: 30px;
    flex: 1;
}


.inputTitle {
    font-size: 12px;
	font-weight: 600;
	color: #000000;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #cac8c8;
}

.inputWrap:focus-within {
    border: 2px solid rgb(21, 17, 139);
}

.input {
    width: 100%;
    outline: none;
	border: none;
    height: 17px;
    font-size: 14px;
	font-weight: 400;
}

.input::placeholder {
    color:  #cac8c8;
}

.bottomButton {
    width: 300px;
	height: 48px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 64px;
    background-color: rgb(21, 17, 139);
    color: white;
    margin-bottom: 30px;
    cursor: pointer;
}

.bottomButton:disabled {
    background-color: #cac8c8;
    color: white;
}

.errorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}


